font-face {
    font-family: "BPG Nino Mtavruli";
    src: url(fonts/bpg_nino_mtavruli_normal.ttf)
  }
ul{
    margin-bottom: 18.8px;
    margin-top: 18.8px;
}
  li{
    font-size: 22px;
    margin-bottom: 2.2px;
    color: #3D58A6
    }
img{
    margin-bottom: 20px;
    width: 1170px;
    height: 460px;
}
.link{
    color:red
    
}
.link {
    color:red
}
body{
    margin-left: 34px;
}